@import "./nullstyle";

body {
  background-color: #202020;
  padding: 30px;
  font-family: Inter;
}

.wrapper {
  background-color: #707070;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 10px;

  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  padding: 20px 40px;
  flex: 1 1 auto;
}

.button {
  padding: 5px;
  border-radius: 5px;
  background-color: #eb0c0c;
  font-size: 20px;
  font-weight: 500;

  &:hover {
    background-color: #e83030;
  }

  &:active {
    background-color: #921818;
  }
}

.bigbutton {
  font-size: 25px;
  padding: 10px 20px;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.pageflex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bread {
  border-radius: 10px;
  background-color: #303030;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &__img {
    border-radius: 7px;
  }

  &__name {
    color: #ffffff;
    font-size: 25px;
  }

  &__price {
    color: #ffffff;
    font-size: 25px;
  }

  &__add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__plus-minus {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__count {
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
  }

  &__count-cart {
    margin-left: 15px;
  }

  &__remove-all {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.empty {
  width: 100%;
  color: #000000;
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.footer {
  padding: 30px 0px;
  text-align: center;
  font-size: 40px;
  background: #909090;
}

.header {
  padding: 30px 40px;
  background: #909090;
  display: flex;
  justify-content: space-between;

  &__logo {
    font-size: 40px;
    font-weight: 900;
  }
}
